a {
  text-decoration: none;
  color: currentColor;
}

body {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  min-height: 100vh;

  font-family: "Jost";
  font-size: 22px;
}

/** / футер прикріплений до низу сайту  body {display: flex;flex-direction: column;height: 100vh;min-height: 100vh;} */
main {
  flex: 1 0 auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/* ===============header============= */
.nav {

  display: none;
}
img {
  /* height: 50px; */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 480px) {
   .nav {
    display: none;
   }
  
}
@media screen and (min-width: 768px) {
 
  .header{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .nav {
    display: flex;
    
  }
  .header-modal-svg{
    display: none;
  }
  .nav-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 45px;
    font-size: 21px;
    font-weight: 400;
    /* line-height: 1.57; */
    line-height: normal;
    letter-spacing: 1.5px;
    margin-right: 10px;
    justify-content: center;
}

.logo {
  margin-bottom: 20px;
}

  }
  .nav-list a {
    color: #292F36;
  }
}
/* ===============main============= */
/* ===============section============= */
/* ===============section============= */
/* ===============section============= */
/* ===============section============= */
/* ===============footer============= */
